/* Start Global Rules  */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    list-style: none;
    text-align: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    background: #222;
    /*background-color: #2459ad;*/
}

:root {
    --main-color:#010103;
    --first-color:#fff;
    --second-color:#2459ad;
    --section-padding:50px;
}
/* End Gloabl Rules  */
.btn {
    display:inline-block;
    margin-top:20px;
    padding:8px 20px;
    color:#fff;
    background-color: #2459ad;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}
body {
    background:#222;
    /*background: rgb(0 0 0 / 95%)*/
}
section {
    position:relative;
    width:100%;
    min-height:100vh;
    padding:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
/* Header Section Start */
header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgb(0 0 0 / 50%);*/
}
header .logo {
    position:relative;
    max-width: 70px;

}
header ul {
    position:relative;
    display: flex;
}
header ul li a {
    display: inline-block;
    color:var(--first-color);
    font-weight: 400;
    margin-left:40px;
}
header ul li a:hover {
    color:var(--second-color);
}
.content {
    position:relative;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.content .text-box {
    position:relative;
    max-width:600px;
}
.content .text-box h2 {
    color: whitesmoke;
    font-size:4em;
    line-height:1.5em;
    font-weight: 900;
}
.content .text-box h2 span {
    font-size: 1.5em;
    color:var(--second-color);
}
.content .text-box p {
    color:#fff;
    line-height: 1.5em;
}
.content .img-box {
    width:600px;
    display: flex;
    padding-right: 3.125rem;
    justify-content: flex-end;
    margin-top: 3.125rem;
}
.content .img-box img {
    max-width: 13.25rem;
}
.thumb {
    position:absolute;
    left:50%;
    bottom:1.25rem;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    display: inline-block;
    margin:0 20px;
    cursor: pointer;
    transition: 0.4s;
}
.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width:40px;
}
.social {
    position: absolute;
    top:50%;
    right:1.875rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.social li a {
    display: inline-block;
    filter:invert(1);
    margin:5px 0;
    transform: scale(0.6);
}
@media (max-width: 991px) {
    section {
        padding:40px;
        padding-bottom: 140px;
    }
    header {
        padding:20px 40px;
    }
    header .logo {
        position:relative;
        max-width:60px;
    }
    header ul {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#fff;
        z-index: 1;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        visibility: hidden;
        opacity: 0;
    }
    header ul.active {
        visibility:visible;
        opacity: 1;
    }
    header ul li a {
        display: inline-block;
        color:#333;
        font-weight:400;
        margin-left:0;
        font-size:1.5em;
        margin:10px 0;
    }
    .togglemenu {
        position:relative;
        width:40px;
        height:40px;
        background:url("../img/menu.png");
        background-position: center;
        background-size:30px;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
    }
    .togglemenu.active {
        background:url("../img/close.png");
        background-position: center;
        background-size:25px;
        background-repeat: no-repeat;
        filter:invert(1);
    }
    .content {
        flex-direction:column;
        margin-top:80px;
    }
    .content .text-box {
        position:relative;
        max-width:100%;
        padding-right:20px;
    }
    .content .text-box h2 {
        font-size:3em;
    }
    .content .text-box a {
        padding:8px 15px;
        font-size:14px;

    }
    .content .img-box {
        width: 100px;
    display: flex;
    padding-right:0;
    justify-content: center;
    margin-top: 3.125rem;
    }
    .content .img-box img {
        max-width: 9.375rem;
    }
    .thumb li img {
        max-width:30px;
    }
    .social {
    position: absolute;
    top:40%;
    right:0px;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    }
}


